<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]=" etabliUpdateform">
                <h1>Update Etablissement</h1>

                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input type="text" 
                    matInput formControlName="nom" 
                    placeholder="Enter your company name">

                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input type="email"
                     matInput formControlName="email"
                     placeholder="Enter your company email"
                     >
                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input type="text"
                     matInput formControlName="adresse" 
                     placeholder="Enter street Adresse">

                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input type="number"
                     matInput formControlName="telephone"
                      placeholder="Enter your Télephone number">

                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input type="number"
                     matInput formControlName="fax"
                      placeholder="Enter your fax number"
                      >
                  </mat-form-field>
                </div>

                <div class="input-group mb-3">
                </div>
              </form>
            </div>
            <button
              type="button"
              class="btn btn-block btn-success"
              (click)=" updateEtabById()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

