<!--         
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]=" updateCandForm">
                <h1>Parametrage compte Candidat</h1>

                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="nom"
                      placeholder="First Name"
                    />
                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="prenom"
                      placeholder="Last Name"

                    />
                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="adresse"
                      placeholder="Adresse"

                    />
                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="telephone"
                      placeholder="Phone"

                    />
                  </mat-form-field>
                </div>
                <div class="input-group mb-3">
                  <mat-form-field class="full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="email"
                      placeholder="Email"
                    />
                    <mat-error *ngIf="updateCandForm.hasError('required','email')">
                      email is required
                    </mat-error>
                    <mat-error *ngIf="updateCandForm.hasError('email','email')">
                      email is invalid
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="input-group mb-3">
                </div>
              </form>
            </div>
            <button
              type="button"
              class="btn btn-block btn-success"
              (click)=" updatecand()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="padding: 40px;">
  <mat-card class="box">
      <mat-card-header>
          <mat-card-title>Compte Candidat</mat-card-title>
      </mat-card-header>
      <br><br>
      <form [formGroup]="paramcandForm">
          <mat-card-content>
              <mat-form-field class="full-width">
                  <input matInput type='text' placeholder="Name" formControlName='nom' required>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                  <input matInput type='email' placeholder="Email" formControlName='email' required>
                  <mat-error *ngIf="paramcandForm.hasError('required','email')">
                      email is required
                  </mat-error>
                  <mat-error *ngIf="paramcandForm.hasError('email','email')">
                      email is invalid
                  </mat-error>
              </mat-form-field>
              <br>
          </mat-card-content>
          <button [disabled]="!paramcandForm.valid" type="button" mat-stroked-button color="accent"
              class="btn-block" (click)="Savecand()">Save</button>
          <br><br>
      </form>
      <mat-card-title>modif pass</mat-card-title>
      <form [formGroup]="modifpasscandForm">
          <mat-card-content>
              <mat-form-field class="example-full-width">
                  <input matInput type='password' placeholder="Your old Password" formControlName="oldpass"
                    [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="modifpasscandForm.hasError('required','password')">
                    password is required
                  </mat-error>
                </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                  <input matInput type='password' placeholder="Your New Password" formControlName="newpass"
                    [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="modifpasscandForm.hasError('required','password')">
                    password is required
                  </mat-error>
                </mat-form-field>
              <br>
          </mat-card-content>
          <button [disabled]="!modifpasscandForm.valid" type="button" mat-stroked-button color="accent"
              class="btn-block" (click)="Savepasscand()">Save Password</button>
          <br><br>
      </form>
  </mat-card>
</div>