<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="padding: 40px;">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Setting</mat-card-title>
        </mat-card-header>
        <br><br>
        <form [formGroup]="parametrageForm">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput type='text' placeholder="Name" formControlName='name' required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput type='email' placeholder="Email" formControlName='email' required>
                    <mat-error *ngIf="parametrageForm.hasError('required','email')">
                        email is required
                    </mat-error>
                    <mat-error *ngIf="parametrageForm.hasError('email','email')">
                        email is invalid
                    </mat-error>
                </mat-form-field>
                <br>
            </mat-card-content>
            <button [disabled]="!parametrageForm.valid" type="button" mat-stroked-button color="accent"
                class="btn-block" (click)="Save()">Save</button>
            <br><br>
        </form>
        <mat-card-title>modif pass</mat-card-title>
        <form [formGroup]="modifpassForm">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput type='password' placeholder="Your old Password" formControlName="oldpass"
                      [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="modifpassForm.hasError('required','password')">
                      password is required
                    </mat-error>
                  </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput type='password' placeholder="Your New Password" formControlName="newpass"
                      [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="modifpassForm.hasError('required','password')">
                      password is required
                    </mat-error>
                  </mat-form-field>
                <br>
            </mat-card-content>
            <button [disabled]="!parametrageForm.valid" type="button" mat-stroked-button color="accent"
                class="btn-block" (click)="Savepass()">Save Password</button>
            <br><br>
        </form>
    </mat-card>
</div> -->
<div class="card">
  <div class="card-header">
      Setting
  </div>
  <div class="card-body">
      <div class="animated fadeIn">
          <div class="card">
              <div class="card-header">
                  Setting Accont
                  <div class="card-header-actions">
                      <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">Modif information
                          <span class="material-icons">
                              arrow_drop_down
                          </span>
                      </button>
                  </div>
              </div>
              <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
                 
                <form [formGroup]="parametrageForm">
                  <mat-card-content>
                      <mat-form-field class="full-width">
                          <input matInput type='text' placeholder="Name" formControlName='name' required>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="example-full-width">
                          <input matInput type='email' placeholder="Email" formControlName='email' required>
                          <mat-error *ngIf="parametrageForm.hasError('required','email')">
                              email is required
                          </mat-error>
                          <mat-error *ngIf="parametrageForm.hasError('email','email')">
                              email is invalid
                          </mat-error>
                      </mat-form-field>
                      <br>
                  </mat-card-content>
                  <button [disabled]="!parametrageForm.valid" type="button" mat-stroked-button color="accent"
                      class="btn-block" (click)="Save()">Save</button>
                  <br><br>
              </form>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                  Setting Password
                  <div class="card-header-actions">
                      <button type="button" class="btn btn-primary" (click)="isCollapsed1 = !isCollapsed1">modif Password
                          <span class="material-icons">
                              arrow_drop_down
                          </span>
                      </button>
                  </div>
              </div>
              <div class="card-body" (collapsed)="collapsed1($event)" (expanded)="expanded1($event)"
                  [collapse]="isCollapsed1">
                  <form [formGroup]="modifpassForm">
                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input matInput type='password' placeholder="Your old Password" formControlName="oldpass"
                              [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">
                              {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="modifpassForm.hasError('required','password')">
                              password is required
                            </mat-error>
                          </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                            <input matInput type='password' placeholder="Your New Password" formControlName="newpass"
                              [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">
                              {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="modifpassForm.hasError('required','password')">
                              password is required
                            </mat-error>
                          </mat-form-field>
                        <br>
                    </mat-card-content>
                    <button [disabled]="!parametrageForm.valid" type="button" mat-stroked-button color="accent"
                        class="btn-block" (click)="Savepass()">Save Password</button>
                    <br><br>
                </form>
              </div>
          </div>
      </div>
      
  </div>
</div>

