<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card mx-6">
              <div class="card-body p-4">
                <form [formGroup]="addcandForm">
                  <h1>Add Candidate</h1>
  
                  <!-- <p class="text-muted" routerLink="/login">Create your account</p> -->
                  <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
  
                    <input
                      matInput
                      placeholder="FName"
                      formControlName="nom"
                      required
                    />
  
                    <mat-error *ngIf="addcandForm.hasError('required','nom')">
                      FName is required
                    </mat-error>
                  </mat-form-field>
                  <br />
                  <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
  
                    <input
                      matInput
                      placeholder="LName"
                      formControlName="prenom"
                      required
                    />
  
                    <mat-error *ngIf="addcandForm.hasError('required','prenom')">
                      LName is required
                    </mat-error>
                  </mat-form-field>
                  <br />
                  <mat-form-field class="full-width">
                    <mat-label>Adresse</mat-label>
  
                    <input
                      matInput
                      placeholder="Adress"
                      formControlName="adresse"
                      required
                    />
  
                    <mat-error *ngIf="addcandForm.hasError('required','adresse')">
                      Adresse is required
                    </mat-error>
                  </mat-form-field>
                  <br />
                  <mat-form-field class="full-width">
                    <mat-label>Phone Number</mat-label>
  
                    <input
                      matInput
                      type="number"
                      placeholder="Phone"
                      formControlName="telephone"
                      required
                    />
  
                    <mat-error *ngIf="addcandForm.hasError('required','phone')">
                      Phone is required
                    </mat-error>
                  </mat-form-field>
                  <br />
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="text"
                      formControlName="email"
                      placeholder="Email"
                      required
                    />
  
                    <mat-error *ngIf="addcandForm.hasError('required','email')">
                      email is required
                    </mat-error>
                    <mat-error *ngIf="addcandForm.hasError('email','email')">
                      email is invalid
                    </mat-error> </mat-form-field
                  ><br />
  
                  <br />
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="password"
                      formControlName="password"
                      placeholder="Password"
                      [type]="hide ? 'password' : 'text'"
                      required
                    />
                    <mat-icon matSuffix (click)="hide = !hide"
                      >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon
                    >
  
                    <mat-error *ngIf="addcandForm.hasError('required','password')">
                      password is required
                    </mat-error>
                  </mat-form-field>
                </form>
              </div>
              <button
              [disabled]="!addcandForm.valid"
                type="button"
                (click)="addCandidat()"
                class="btn btn-block btn-primary"
              >
                Add Candidate
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  