        
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            Liste des Candidats
        </div>
        <div class="card-body">
            <div class="example-header">
              <mat-form-field style="width: 100%;">  
                <input matInput (keyup)="Filter($event.target.value)" placeholder="Search ">  
            </mat-form-field>  
              </div>
              <div class="mat-elevation-z8">
              <mat-table #table  [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nom">
                  <mat-header-cell  mat-sort-header *matHeaderCellDef> Last Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="prenon">
                    <mat-header-cell  mat-sort-header *matHeaderCellDef> First Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <mat-header-cell  mat-sort-header *matHeaderCellDef> Email </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
              
                <!-- Tel Column -->
                <ng-container matColumnDef="phone">
                  <mat-header-cell  mat-sort-header *matHeaderCellDef> Phone </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
                </ng-container>
              
                <!-- buttons -->
                <ng-container matColumnDef="Edit">
                  <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-raised-button class="btn btn-info" type="button" 
                    routerLink="/etablissement/updatecandidat">Edit</button>
                    <!-- /{{element._id}} -->
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Delete">
                  <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-raised-button class="btn btn-danger" (click)="openDialog(content)">Delete</button>
                  </mat-cell>
                  <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title text-danger">Delete Candidate</h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="closeModal()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete {{element.nom}}</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-outline-dark"
                        (click)="acceptDelete(i, element._id)"
                      >
                        Delete
                      </button>
                    </div>
                  </ng-template>
                </ng-container>
                <!-- buttons -->
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
  
        </div>
      </div>
    </div>
  </div>