        
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
            Liste des Candidats
        </div>
        <div class="card-body">
            <div class="example-header">
              <mat-form-field style="width: 100%;">  
                <input matInput (keyup)="Filter($event.target.value)" placeholder="Search ">  
            </mat-form-field>  
              </div>
              <div class="mat-elevation-z8">
              <mat-table #table  [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nom">
                  <mat-header-cell  mat-sort-header *matHeaderCellDef> Last Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="prenon">
                    <mat-header-cell  mat-sort-header *matHeaderCellDef> First Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <mat-header-cell  mat-sort-header *matHeaderCellDef> Email </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
              
                <!-- Tel Column -->
                <ng-container matColumnDef="phone">
                  <mat-header-cell  mat-sort-header *matHeaderCellDef> Phone </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
                </ng-container>
              
                <!-- buttons -->
                <ng-container matColumnDef="Edit">
                  <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-raised-button class="btn btn-info" routerLink="/etablissement/updatecandidat/{{element._id}}">Edit</button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Delete">
                  <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                  <mat-cell *matCellDef="let element">

                    <button type="button" mat-raised-button class="btn btn-danger" data-toggle="modal" data-target="#centralModalDanger">Delete</button>
                    <div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-notify modal-danger" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <p class="heading lead">Delete Candidate</p>
                   
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="text-center">
                              <p>Are you sure to delete definitively this user from your establishment???</p>
                            </div>
                          </div>
                          <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-danger" (click)="deleteCand(element._id)" data-dismiss="modal">Yes! Delete </button>
                            <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>
                <!-- buttons -->
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
  
        </div>
      </div>
    </div>
  </div>